.videos {
  width: 60%;
  margin: 0 0px 40px 100px;
}
html, body {
  overflow-x:hidden 
} 
body {
  background-color: rgb(70, 70, 70);

}
.wrapper{
  overflow-x: hidden;
  width: 100vw;
  /* position: fixed; */
}
.embed-responsive {
  margin-top: 40px;
  -webkit-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
}

.headerGraham {
  width: 100%;
  height: 100px;
  background-color: rgb(145, 145, 145);
}
#picture {
  width: 30%;
  height: auto;
  margin: 0 0 0 5%;
  display: flex;
  -webkit-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
}
.descriptiontitle {
  font-size: x-large;
}
.Description {
  background-color: rgb(177, 177, 177);
  width: 100%;
  padding: 20px;
}
.smallDescription {
  position: absolute;
  padding: 30px;
  overflow-y: auto;
  right: 0;
  top: 10%;
  height: 80%;
  width: 30%;
  margin: auto 5%;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 15px 5px #000000;
  box-shadow: inset 5px 5px 15px 5px #000000;
  background-color: rgb(168, 168, 168);
}
.CarCase {
  height: max-content;
  width: 55%;
  margin-left: 5%;
  -webkit-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
}
.hideandshow {
  width: 100%;
  height: 70px;
  font-size: large;
  background: rgb(141, 141, 141);
  -webkit-box-shadow: 1px 8px 16px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 1px 8px 16px -3px rgba(0, 0, 0, 0.78);
  /* border-bottom: solid 2px white; */
  /* background: linear-gradient(0deg, rgb(197, 197, 197) 0%, rgba(106,106,106,1) 31%); */
  color: rgb(54, 54, 54);
  /* font-size: 1.5em; */
  padding-top: 5px;
  text-align: center;
  /* font-family:  Helvetica Neue; */
}
#pythonVideoHolder {
  display: none;
}
.videosSCulpteed {
  margin: 0 0 0 5%;
  width: 55%;

  /* display: flex; */
}
.videos3d {
  margin: -40px 0 0 5%;
  width: 55%;
}
.contactwhole {
  width: 100%;
  position: relative;
  background-color: rgb(177, 177, 177);
  /* margin: 0 auto; */
  /* justify-content: center; */
}
.contactshadow {
  top: 50px;
  left: 20px;
  z-index: -1;
  font-size: 10em;
  color: black;
  position: absolute;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.contactimages {
  /* color: rgb(93, 99, 94); */
  /* position: absolute; */
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 15px;
  position: relative;
  font-size: 10em;
  display: inline;
  z-index: 5;
}
.flexdisplay {
  position: relative;
  margin: 5%;
  border-radius: 25px;
  /* border: solid 4px rgb(49, 49, 49); */
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(109, 109, 109);
  padding: 20px 0;
  -webkit-box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
  box-shadow: 8px 8px 16px -3px rgba(0, 0, 0, 0.78);
}
#Sculpted {
  display: none;
  width: 100%;
}
#character {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
  margin: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58);
  border-radius: 10px;
  width: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e0e0e;
}
@media only screen and (max-width: 750px) {
  
  .smallDescription {
    position: relative;
    width: 90%;
    margin-top: 10px;
  }
  .videos3d {
    width: 90%;
  }
  .CarCase {
    width: 90%;
  }
  #picture {
    width: 90%;
  }
  .videosSCulpteed {
    margin-top: 10px;
    width: 90%;
  }
  .videos {
    width: calc(90% - 20px);
    margin: 10px auto;
  }
}
